#selectType > input[type=button]{
    width: 130px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: #393939;
}

#calculator{
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    width: auto;
    height: 605px;
    border: 1px solid red;
}

#display{
    flex: 1 0 auto;
    height: auto;
    font-size: 30px;
    padding-top: 70px;
    background-color: #242424;
    text-align: right;
    border: none;
    color: #e7e7e7;
}



input[type=button]{
    width: 100px;
    height: 100px;
    font-size: 20px;
    border: none;
    color: #e7e7e7;  
    border: 0.5px solid #242424;
}

#buttonsBasic{
    flex-wrap: wrap;
}

#buttonsEngineer{
    flex-wrap: wrap;
}

#zero{
    flex-grow: 1;
}

.darkGrey{
    background-color: #393939;
}

.yellow{
    background-color: #ff9f0c;
}

.grey{
    background-color: #5a5a5a;
}