.buttons{
    display: flex;
}

.buttonsEngineer{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    display: none;
}

.buttonsBasic{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: black;
    justify-content: space-around;
}

.buttonsEngineer > input[type=button]  {
    font-size: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
}

.buttonsBasic > input[type=button]  {
    font-size: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
}

.buttonsProg > input[type=button]  {
    font-size: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
}

.buttonsProg{
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    display: none;
}

#zero{
    flex-grow: 2;
}

#display{
    width: 398px;
    height: auto;
    background-color: grey;
    font-size: 50px;
    color: white;
    text-align: right;
    padding-top: 50px;
    border: 1px solid black;
}

#calculator{
    display: inline-block;
}

.selectType > input[type=button] {
    font-size: 15px;
    width: 130px;
    height: 50px;
    text-align: center;
    border: none;
    margin-bottom: 10px;
}



.orange{
    background-color: orange;
    font-size: 20px;
}

.grey{
    background-color: grey;
}


.black{
    background-color: dimgray;
}

.equallyEng{
    flex-basis: 200px;

}

.byteflip{
    flex-basis: 200px;
}


.wordflip{
    flex-basis: 200px;
}